@page "/list"
@using AppData.Entity
@using AppView.Service

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="create" class="btn btn-success">Tạo mới</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Descriptipm</th>
                <th>Quantity</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in products)
            {
                <tr class="align-middle">
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td><img height="60px" src="/uploads/@item.ImageUrl" /></td>
                    <td>
                        <a class="btn btn-info" href="detail/@item.ID">
                            Details
                        </a>
                        <button class="btn btn-danger" @onclick="()=> OnDelete(item.ID)">
                            Delete
                        </button>
                        <a class="btn btn-warning" href="update/@item.ID">
                            Update
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public IProduct productService { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    List<Product> products = new List<Product>();
    protected override async Task OnInitializedAsync()
    {
        products= await  productService.GetAll();
    }
    protected async Task OnDelete(int id)
    {
        var response= await productService.Delete(id);
        await OnInitializedAsync();
    }
}
